body {
background: rgb(129, 208, 235);
color: black;
margin: 0px;
}

header{ 
    font-size: 70px;
    background: rgb(202, 129, 202);
    padding:20px;
    display: flex;
    justify-content: center;
}
.titulo{
    font-size: 70px;
    display: flex;
    justify-content:
}
img{height: 100px}